<div ng-controller="FinanceiroCtrl as vm">
  <ion-header-bar class="bar bar-header cabecalho_interno">
    <ion-nav-bar class="bar-light cabecalho_interno">
      <ion-nav-buttons side="right">
        <button class="button button-positive icon ion-ios-calendar-outline"
                ion-datetime-picker title="'Selecine a Data Inicial'" ng-model="vm.dataInicial"
                ng-change="vm.GerarRelatorio()" style="margin-right: 10px !important;">&nbsp;&nbsp;&nbsp;Inicio
        </button>
        <button class="button button-positive icon ion-ios-calendar-outline"
                ion-datetime-picker title="'Selecine a Data Final'" ng-model="vm.dataFinal"
                ng-change="vm.GerarRelatorio()" style="margin-right: 0px !important;">&nbsp;&nbsp;&nbsp;Fim
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="left">
        <button class="button button-positive icon ion-android-refresh" ng-click="vm.GerarRelatorio()"> Atualizar</button>
      </ion-nav-buttons>
    </ion-nav-bar>
  </ion-header-bar>
  <ion-content class="has-footer">
    <div class="padding">
      <div class="card" ng-hide="vm.dados[0].length > 0">
        <ion-list>
          <ion-item class="item item-assertive">Nenhum registro foi localizado</ion-item>
        </ion-list>
      </div>
      <div ng-show="vm.dados[0].length > 0" class="card">
        <div class="card">
          <ion-list>
            <ion-item class="item item-divider item-tabela">
              <div class="row">
                <div class="col">Título</div>
                <div class="col">Vencimento</div>
                <div class="col" style="text-align: right !important; padding: 0px 5px;">Valor</div>
              </div>
            </ion-item>
            <ion-item ng-show="!vm.dados[0].length" class="assertive">
              Não existem título a pagar nesse período
            </ion-item>
            <ion-item ng-repeat="item in vm.dados[0]" ng-click="vm.pegarCodigoDeBarra(item)" ng-hide="!vm.dados[0].length" style="font-size: 14px; padding: 1px 0px;">
              <div class="row">
                <div ng-if="$last">
                  <div class="col destaque-celula" style="text-align: left !important; padding: 0px 5px;">
                    Total
                  </div>
                </div>
                <div class="col">
                  {{ item.Titulo }}
                </div>
                <div class="col">
                  {{ item.Vencimento }}
                </div>
                <div class="col" ng-class="{'destaque-celula': $last}" style="text-align: right !important;">
                  {{ item.Valor }}
                </div>
              </div>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
</div>
