<div ng-controller="ConfigCtrl as vm">
  <ion-content class="has-footer">
    <ion-pane overflow-scroll="true" style="overflow-y: visible; padding-bottom: 60px;">
      <div class="padding">
        <div ng-hide="vm.servidores.length > 0">
          <ion-list>
            <ion-item class="item assertive">
              Não existe servidor cadastrado
            </ion-item>
          </ion-list>
        </div>
        <div class="card mb" ng-show='vm.mensagem.length > 0'>
          <ion-list>
            <ion-item class="item assertive">
              {{ vm.mensagem[0] }}
            </ion-item>
          </ion-list>
        </div>
        <div class="card">
          <ion-scroll direction="y">
            <div ng-show="vm.servidores.length > 0" style="margin-bottom: 0px; padding-bottom: 0px;">

              <div class="card">
                <ion-list>
                  <ion-item class="item item-divider">
                    Servidor(es) Cadastrado(s)
                  </ion-item>
                  <ion-radio ng-repeat="item in vm.servidores" ng-model="vm.Ip" ng-value="'{{ item.Ip }}'"
                             ng-change="vm.LimparMensagem()">
                    {{ item.Ip }}
                  </ion-radio>
                </ion-list>
              </div>
            </div>
          </ion-scroll>
        </div>
      </div>
    </ion-pane>
    <ion-footer-bar class="footer-bottom">
      <div class="tabs tabs-icon-top tab-divider">
        <a class="tab-item" ng-click="vm.novo()">
          <i class="icon ion-ios-plus-outline"></i>
          Novo
        </a>
        <a class="tab-item" ng-click="vm.selecionar()">
          <i class="icon ion-ios-checkmark-outline"></i>
          Selecionar IP
        </a>
        <a class="tab-item" ng-click="vm.PopUpConfirmarExclusao()">
          <i class="icon ion-ios-close-outline"></i>
          Excluir IP
        </a>
      </div>
    </ion-footer-bar>
  </ion-content>
</div>
