<div ng-controller="CouvertCtrl as vm">
  <ion-content class="has-footer">
    <ion-pane class="padding" overflow-scroll="true" style="overflow-y: visible; padding-bottom: 60px;">
      <ion-scroll direction="y">
        <div class="card">
          <ion-list ng-hide="vm.fechados[0].length">
            <ion-item class="assertive">Não existe couvert fechado</ion-item>
          </ion-list>
          <ion-list ng-show="vm.fechados[0].length">
            <div class="item item-divider">
              Counvert Fechados
            </div>
            <ion-item>
              <table class="tabela">
                <tr>
                  <td class="destaque-celula" width="15%">Tipo</td>
                  <td class="destaque-celula" width="20%">Comanda</td>
                  <td class="destaque-celula" width="20%">Data/Hora</td>
                  <!--<td class="destaque-celula" width="15%" align="center">Qtde</td>-->
                  <td class="destaque-celula" width="30%" align="right">Total</td>
                </tr>
                <tr ng-repeat="item in vm.fechados[0]">
                  <td>{{ item.Tipo }}</td>
                  <td align="center">{{ item.Comanda }}</td>
                  <td align="right">{{ item.DataHora | limitTo:12 }}</td>
                  <!--<td align="center">{{ item.Qtde }}</td>-->
                  <td align="right">{{ item.Total }}</td>
                </tr>
              </table>
            </ion-item>
          </ion-list>
        </div>
        <div class="card mt">
          <ion-list ng-hide="vm.consumos[0].length">
            <ion-item class="assertive">Nâo existe couvert em consumação</ion-item>
          </ion-list>
          <ion-list ng-show="vm.consumos[0].length">
            <div class="item item-divider">
              Couverts em Consumação
            </div>
            <ion-item>
              <table class="tabela">
                <tr>
                  <td class="destaque-celula" width="15%">Tipo</td>
                  <td class="destaque-celula" width="20%">Comanda</td>
                  <td class="destaque-celula" width="20%">Data/Hora</td>
                  <td class="destaque-celula" width="15%" align="center">Qtde</td>
                  <td class="destaque-celula" width="30%" align="right">Total</td>
                </tr>
                <tr ng-repeat="item in vm.consumos[0]">
                  <td>{{ item.Tipo }}</td>
                  <td align="center">{{ item.Comanda }}</td>
                  <td align="right">{{ item.DataHora | limitTo:12 }}</td>
                  <td align="center">{{ item.Qtde }}</td>
                  <td align="right">{{ item.Total }}</td>
                </tr>
              </table>
            </ion-item>
          </ion-list>
        </div>
        <div class="card mt" ng-show="vm.consumos[0].length">
          <ion-list>
            <div class="item item-divider">
              Total Geral
            </div>
            <ion-item>
              <table class="tabela">
                <tr>
                  <td class="destaque-celula" width="20%">Fechados</td>
                  <td class="destaque-celula" width="40%" align="right">Consumos</td>
                  <td class="destaque-celula" width="40%" align="right">Geral</td>
                </tr>
                <tr>
                  <td align="right">{{ vm.totalFechados }}</td>
                  <td align="right">{{ vm.totalConsumos }}</td>
                  <td align="right">{{ vm.totalGeral }}</td>
                </tr>
              </table>
            </ion-item>
          </ion-list>
        </div>
      </ion-scroll>
    </ion-pane>
    <ion-footer-bar class="footer-bottom">
      <div class="tabs tabs-icon-top tab-divider">
        <a class="tab-item" ng-click="vm.GerarCouvert()">
          <i class="icon ion-android-refresh"></i>
          Atualizar
        </a>
        <a class="tab-item" ion-datetime-picker title="'Selecine a Data Inicial'" ng-model="vm.dataInicial"
           ng-click="vm.GerarCouvert()">
          <i class="icon ion-ios-calendar-outline ion-ios-calendar-outline"></i>
          Data Inicial
        </a>
        <a class="tab-item" ion-datetime-picker title="'Selecine a Data Inicial'" ng-model="vm.dataFinal"
           ng-click="vm.GerarCouvert()">
          <i class="icon ion-ios-calendar-outline ion-ios-calendar-outline"></i>
          Data Final
        </a>
      </div>
    </ion-footer-bar>
  </ion-content>
</div>
