<div ng-controller="EstoqueCtrl as vm">
  <ion-content class="has-footer">
    <div class="tabs tabs-icon-top tab-divider">
      <a class="tab-item" ng-click="vm.GerarRelatorio()">
        <i class="icon ion-android-refresh"></i>
        Atualizar
      </a>
      <a class="tab-item" ng-click="vm.SetGrupo()">
        <i class="icon ion-funnel"></i>
        Grupo
      </a>
      <a class="tab-item" ng-click="vm.SetTipo()">
        <i class="icon ion-clipboard"></i>
        Tipo de Relatório
      </a>
    </div>
    <div class="padding">
      <div class="mt50">
        <div class="card">
          <ion-list ng-show="!vm.dados[0].length">
            <ion-item class="item assertive">
              Nenhum registro encontrado
            </ion-item>
          </ion-list>
          <ion-list ng-hide="!vm.dados[0].length">
            <div class="item item-divider">
              <i class="icon ion-ios-briefcase"></i>
              Relatório de Estoque
            </div>
            <ion-item class="item-padding">
              <table class="tabela">
                <tr>
                  <td class="destaque-celula" width="70%">Produto</td>
                  <td class="destaque-celula" width="30%" align="right">Qtde</td>
                </tr>
                <tr ng-repeat="item in vm.dados[0]">
                  <td>{{ item.Produto | limitTo: 25 }}</td>
                  <td align="right">{{ item.Estoque }}</td>
                </tr>
              </table>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </ion-content>
</div>
