<div ng-controller="ConfigCtrl as vm">
  <ion-header-bar class="bar bar-header cabecalho_interno">
    <button class="button button-positive" ng-click="vm.novo()">Novo</button>
    <div style="width: 100%; text-align: center; margin-top: 7px;">
      Configurações do Servidor
    </div>
  </ion-header-bar>
  <ion-content class="has-header" scroll="false">
    <div class="padding" ng-show="vm.servidores.length > 0">
      <ion-list>
        <ion-item class="item item-divider">
          Servidor(es) Cadastrado(s)
        </ion-item>
        <ion-item ng-repeat="item in vm.servidores" ng-click="vm.selecionar(item, $index)">
          <div style="float: left;">
            <strong>IP do Servidor: </strong>{{ item.Ip }}
          </div>
          <div style="float: left; margin-left: 10px;">
            <strong>Porta: </strong>{{ item.Porta }}
          </div>
        </ion-item>
      </ion-list>
      <button class="button button-block button-balanced mt" ng-click="vm.selecionarServidor()">Selecionar Servidor</button>
    </div>
    <div class="padding" ng-hide="vm.servidores.length > 0">
      <ion-list>
        <ion-item class="item item-assertive">
          Não existe servidor cadastrado
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</div>
