<div ng-controller="CancelamentosCtrl as vm">
    <ion-header-bar class="bar bar-header cabecalho_interno">
        <ion-nav-title>{{ vm.titulo }}</ion-nav-title>
        <ion-nav-bar class="bar-light cabecalho_interno">
            <ion-nav-buttons side="left">
                <button class="button button-positive icon ion-android-refresh"
                        style="margin-right: 0px !important;"
                        ng-click="vm.Refresh()" ng-show="vm.relatorio"> Atualizar
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-positive icon ion-ios-arrow-back"
                        style="margin-right: 0px !important;"
                        ng-hide="vm.relatorio" style="margin-right: 0px;" ng-click="vm.Voltar()"> Voltar</button>
            </ion-nav-buttons>
        </ion-nav-bar>
    </ion-header-bar>
    <ion-content class="has-footer">
        <div class="padding" ng-hide="vm.mesas[0].length > 0 || vm.cartoes[0].length > 0">
            <ion-list>
                <ion-item class="item item-assertive">Não existe item para cancelamento</ion-item>
            </ion-list>
        </div>
        <div class="padding">
            <div ng-show="vm.relatorio">
                <div class="card" ng-show="vm.mesas[0].length > 0">
                    <ion-list>
                        <ion-item class="item item-divider item-tabela">
                            <div class="row">
                                <div class="col">
                                    Mesa
                                </div>
                                <div class="col" style="text-align: center">
                                    Data
                                </div>
                                <div class="col" style="text-align: right">
                                    Valor
                                </div>
                                <div class="col" style="text-align: right">
                                    Tempo
                                </div>
                            </div>
                        </ion-item>
                        <ion-item class="item-tabela" ng-repeat="item in vm.mesas[0] | filter: search"
                                  ng-click="vm.RetornaItemsDaComanda(item.Comanda, 1)"
                                  style="font-size: 14px; padding: 1px 0px;">
                            <div class="row">
                                <div class="col">
                                    {{ item.Comanda }}
                                </div>
                                <div class="col" style="text-align: center">
                                    {{ item.Data }}
                                </div>
                                <div class="col" style="text-align: right">
                                    {{ item.Valor }}
                                </div>
                                <div class="col" style="text-align: right">
                                    {{ item.Tempo | limitTo }}
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
                <div class="card mt" ng-show="vm.cartoes[0].length > 0">
                    <ion-list>
                        <!--<label class="item item-input label-pesqusa">-->
                        <!--<i class="icon ion-search placeholder-icon"></i>-->
                        <!--<input type="number" ng-model="search_c.Comanda" class="input-pesquisa" />-->
                        <!--</label>-->
                        <ion-item class="item item-divider item-tabela">
                            <div class="row">
                                <div class="col">
                                    Cartão
                                </div>
                                <div class="col" style="text-align: center">
                                    Data
                                </div>
                                <div class="col" style="text-align: right">
                                    Valor
                                </div>
                                <div class="col" style="text-align: right">
                                    Tempo
                                </div>
                            </div>
                        </ion-item>
                        <ion-item class="item-tabela" ng-repeat="item in vm.cartoes[0] | filter:search_c"
                                  ng-click="vm.RetornaItemsDaComanda(item.Comanda, 2)"
                                  style="font-size: 14px; padding: 1px 0px;">
                            <div class="row">
                                <div class="col">
                                    {{ item.Comanda }}
                                </div>
                                <div class="col" style="text-align: center">
                                    {{ item.Data }}
                                </div>
                                <div class="col" style="text-align: right">
                                    {{ item.Valor }}
                                </div>
                                <div class="col" style="text-align: right">
                                    {{ item.Tempo }}
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
            <div ng-hide="vm.relatorio">
                <div class="card" ng-show="vm.comandas[0].length > 0">
                    <ion-list>
                        <!--<label class="item item-input">-->
                        <!--<i class="icon ion-search placeholder-icon"></i>-->
                        <!--<input type="text" name="search" ng-model="search_comanda.Produto" />-->
                        <!--</label>-->
                        <ion-item class="item item-divider item-tabela">
                            <div class="row">
                                <div class="col" style="text-align: left">
                                    Opção
                                </div>
                                <div class="col" style="text-align: center">
                                    Qtde
                                </div>
                                <div class="col">
                                    Produto
                                </div>
                                <div class="col" style="text-align: right">
                                    Total
                                </div>
                            </div>
                        </ion-item>
                        <ion-item class="item-tabela" ng-repeat="item in vm.comandas[0] | filter: search_comanda"
                                  style="font-size: 14px; padding: 1px 0px;">
                            <div class="row">
                                <div class="col" style="text-align: left">
                                    <button class="button button-small button-assertive ion-ios-close-outline"
                                            ng-click="vm.EnviarCancelamento(item.Item, item.Codigo, $index)"></button>
                                </div>
                                <div class="col" style="text-align: center; margin-top: 5px !important;">
                                    {{ item.Qtde }}
                                </div>
                                <div class="col" style="margin-top: 5px !important;">
                                    {{ item.Produto }}
                                </div>
                                <div class="col" style="text-align: right; margin-top: 5px !important;">
                                    {{ item.Total}}
                                </div>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
    </ion-content>
</div>
