<div ng-controller="ComprasCtrl as vm">
  <ion-header-bar class="bar-balanced cabecalho">
    <h1 class="title cabecalho">
      <i class="icon ion-ios-briefcase"></i>
      {{ vm.titulo }}
    </h1>
    <div class="buttons">
      <button class="button button button-balanced cabecalho icon ion-ios-arrow-back" ng-hide="!vm.cabecalho[0].length" ng-click="vm.Voltar()"></button>
    </div>
  </ion-header-bar>
  <ion-content class="has-footer">
    <div class="padding">
      <div class="card" ng-hide="!vm.cabecalho[0].length">
        <ion-list>
          <ion-item class="item item-divider">
            {{ vm.cabecalho[0][0].Produto }}
          </ion-item>
          <ion-item>
            <table class="tabela mt">
              <tr>
                <td><strong>Custo Médio</strong></td>
                <td align="right">{{ vm.cabecalho[0][0].CustoMedio }}</td>
              </tr>
              <tr>
                <td><strong>Preço de Venda</strong></td>
                <td align="right">{{ vm.cabecalho[0][0].PrecoVenda }}</td>
              </tr>
              <tr>
                <td><strong>Unidades</strong></td>
                <td align="right">{{ vm.cabecalho[0][0].Und }}</td>
              </tr>
              <tr>
                <td><strong>Estoque Atual</strong></td>
                <td align="right">{{ vm.cabecalho[0][0].Estoque }}</td>
              </tr>
              <tr>
                <td><strong>Estoque Mínimo</strong></td>
                <td align="right">{{ vm.cabecalho[0][0].EstoqueMinimo }}</td>
              </tr>
              <tr>
                <td><strong>Estoque Padrão</strong></td>
                <td align="right">{{ vm.cabecalho[0][0].EstoquePadrao }}</td>
              </tr>
              <tr>
                <td><strong>Estoque p/ Pedido</strong></td>
                <td align="right">{{ vm.cabecalho[0][0].EstoquePontoPedido }}</td>
              </tr>
            </table>
          </ion-item>
          <ion-item ng-hide="!vm.detalhes[0].length">
            <table class="tabela mt">
              <tr>
                <td><strong>Fornecedor</strong></td>
                <td><strong>Data</strong></td>
                <td align="right"><strong>Qtde</strong></td>
                <td align="right"><strong>P.Compra</strong></td>
              </tr>
              <tr ng-repeat="item in vm.detalhes[0]">
                <td>{{ item.Fornecedor | limitTo:12}}</td>
                <td>{{ item.Data }}</td>
                <td align="right">{{ item.Qtde }}</td>
                <td align="right">{{ item.PrecoCompra }}</td>
              </tr>
            </table>
          </ion-item>
        </ion-list>
      </div>
      <div ng-hide="!vm.dados[0].length" class="card">
        <div class="card">
          <ion-list>
            <ion-item class="item item-divider">
              Detalhes dos Produtos
            </ion-item>
            <label class="item item-input label-pesqusa">
              <i class="icon ion-ios-search placeholder-icon"></i>
              <input class="input-pesquisa" type="search" ng-model="vm.pesquisa.Produto" placeholder="Filtrar Produtos">
            </label>
            <ion-item ng-repeat="item in vm.dados[0] | filter: pesquisa" ng-click="vm.RetornarDetalhesDoItem(item)">
                  {{ item.Produto }} <br>
                  <strong>Estoque Atual: </strong>{{ item.Estoque }}<br>
                  <strong>Preço de Compra: </strong>{{ item.Compra }}<br>
                  <strong>Preço de Venda: </strong>{{ item.Venda}}<br>
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
</div>
