<div ng-controller="ConfigCtrl as vm">
  <ion-content class="has-footer">
    <ion-pane class="padding" overflow-scroll="true" style="overflow-y: visible; padding-bottom: 60px;">
      <ion-scroll direction="y">
        <div ng-hide="vm.servidores.length > 0">
          <div class="card">
            <ion-list>
              <ion-item class="item assertive">
                Não existe servidor cadastrado
              </ion-item>
            </ion-list>
          </div>
        </div>
        <div ng-show="vm.servidores.length > 0" style="margin-bottom: 0px; padding-bottom: 0px;">
          <div class="card mb" ng-show='vm.mensagem.length > 0'>
            <ion-list>
              <ion-item class="item assertive">
                {{ vm.mensagem[0] }}
              </ion-item>
            </ion-list>
          </div>
          <div class="card">
            <ion-list>
              <ion-item class="item item-divider">
                Servidor(es) Cadastrado(s)
              </ion-item>
              <ion-radio ng-repeat="item in vm.servidores" ng-model="vm.Ip" ng-value="'{{ item.Ip }}'"
                         ng-change="vm.LimparMensagem()">
                {{ item.Ip }}
              </ion-radio>
            </ion-list>
          </div>
        </div>
        <div class="row" style="margin-top: 0px; padding-top: 0px;" ng-show="vm.servidores.length > 0">
          <div class="col col-50" style="margin-top: 0px; padding-top: 0px;">
            <button class="button button-block button-balanced" ng-click="vm.selecionar()">Selecionar IP</button>
          </div>
          <div class="col col-50" style="margin-top: 0px; padding-top: 0px;">
            <button class="button button-block button-assertive" ng-click="vm.PopUpConfirmarExclusao()">Excluir IP
            </button>
          </div>
        </div>
      </ion-scroll>
    </ion-pane>
    <ion-footer-bar class="footer-bottom">
      <div class="tabs tabs-icon-top tab-divider tabs-left">
        <a class="tab-item" ng-click="vm.novo()">
          <i class="icon ion-ios-plus-outline"></i>
          Novo
        </a>
      </div>
    </ion-footer-bar>
  </ion-content>
</div>
