<div ng-controller="CancelamentosCtrl as vm">
  <ion-content class="has-footer">
    <ion-pane class="padding" overflow-scroll="true" style="overflow-y: visible; padding-bottom: 60px;">
      <ion-scroll direction="y">
        <div ng-hide="vm.mesas[0].length > 0 || vm.cartoes[0].length > 0">
          <ion-list>
            <ion-item class="item assertive">Não existe item para cancelamento</ion-item>
          </ion-list>
        </div>
        <div ng-show="vm.relatorio">
          <div class="card" ng-show="vm.mesas[0].length > 0">
            <ion-list>
              <ion-item class="item item-divider item-tabela">
                <div class="row">
                  <div class="col">
                    Mesa
                  </div>
                  <div class="col" style="text-align: center">
                    Data
                  </div>
                  <div class="col" style="text-align: right">
                    Valor
                  </div>
                  <div class="col" style="text-align: right">
                    Tempo
                  </div>
                </div>
              </ion-item>
              <ion-item class="item-tabela" ng-repeat="item in vm.mesas[0] | filter: search"
                        ng-click="vm.RetornaItemsDaComanda(item.Comanda, 1)"
                        style="font-size: 14px; padding: 1px 0px;">
                <div class="row">
                  <div class="col">
                    {{ item.Comanda }}
                  </div>
                  <div class="col" style="text-align: center">
                    {{ item.Data }}
                  </div>
                  <div class="col" style="text-align: right">
                    {{ item.Valor }}
                  </div>
                  <div class="col" style="text-align: right">
                    {{ item.Tempo | limitTo }}
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </div>
          <div class="card mt" ng-show="vm.cartoes[0].length > 0">
            <ion-list>
              <ion-item class="item item-divider item-tabela">
                <div class="row">
                  <div class="col">
                    Cartão
                  </div>
                  <div class="col" style="text-align: center">
                    Data
                  </div>
                  <div class="col" style="text-align: right">
                    Valor
                  </div>
                  <div class="col" style="text-align: right">
                    Tempo
                  </div>
                </div>
              </ion-item>
              <ion-item class="item-tabela" ng-repeat="item in vm.cartoes[0] | filter:search_c"
                        ng-click="vm.RetornaItemsDaComanda(item.Comanda, 2)"
                        style="font-size: 14px; padding: 1px 0px;">
                <div class="row">
                  <div class="col">
                    {{ item.Comanda }}
                  </div>
                  <div class="col" style="text-align: center">
                    {{ item.Data }}
                  </div>
                  <div class="col" style="text-align: right">
                    {{ item.Valor }}
                  </div>
                  <div class="col" style="text-align: right">
                    {{ item.Tempo }}
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>
        <div ng-hide="vm.relatorio">
          <div class="card" ng-show="vm.comandas[0].length > 0">
            <ion-list>
              <ion-item class="item item-divider item-tabela">
                <div class="row">
                  <div class="col" style="text-align: left">
                    Opção
                  </div>
                  <div class="col" style="text-align: center">
                    Qtde
                  </div>
                  <div class="col">
                    Produto
                  </div>
                  <div class="col" style="text-align: right">
                    Total
                  </div>
                </div>
              </ion-item>
              <ion-item class="item-tabela" ng-repeat="item in vm.comandas[0] | filter: search_comanda"
                        style="font-size: 14px; padding: 1px 0px;">
                <div class="row">
                  <div class="col" style="text-align: left">
                    <button class="button button-small button-assertive ion-ios-close-outline"
                            ng-class="{'disabled': vm.nivel == 1}"
                            ng-click="vm.EnviarCancelamento(item.Item, item.Codigo, $index)"></button>
                  </div>
                  <div class="col" style="text-align: center; margin-top: 5px !important;">
                    {{ item.Qtde }}
                  </div>
                  <div class="col" style="margin-top: 5px !important;">
                    {{ item.Produto }}
                  </div>
                  <div class="col" style="text-align: right; margin-top: 5px !important;">
                    {{ item.Total}}
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-scroll>
    </ion-pane>
    <ion-footer-bar class="footer-bottom">
      <div class="tabs tabs-icon-top tab-divider tabs-left">
        <a class="tab-item" ng-show="vm.relatorio" ng-click="vm.CarregarItemsEmMovimento()">
          <i class="icon ion-android-refresh"></i>
          Atualizar
        </a>
        <a class="tab-item" ng-hide="vm.relatorio" ng-click="vm.Voltar()">
          <i class="icon ion-ios-arrow-back"></i>
          Voltar
        </a>
      </div>
    </ion-footer-bar>
  </ion-content>
</div>
